html, body {
    height: 100%
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.header-box, .footer-box {
    width: 400px;
    background-color: lightskyblue;
    padding: 0.5em;
    text-align: center;
    border-radius: 25px;
    box-shadow: 12px 12px 20px gray;
    margin-bottom: 1em;
    
}

.title {
    color: black
}

h1 {
    font-family: 'Arial Narrow', sans-serif;
}

h2 {
    text-shadow: 5px 5px 10px gray;
    font-family: 'Arial Narrow', sans-serif;
}

hr {
    border-top: 1px solid darkgray;
}

.nav-box {
    padding: 0.25em;
    background-color: skyblue;
}

nav ul li {
    color: blue;
    margin: 10px;
    list-style: none;
    font-family: 'Arial', sans-serif;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: none;
}

.disclaimer {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    color: black
}