/* I don't know what this part does, but it makes it look better so I'm leaving it in */

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body Sizing */

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

/* Header Styling */

header,
footer {
	background-color: #72BDFF;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px 50px 1fr;
    align-items: center;
    justify-items: center;
}

h1, h2, h3, h4 {
    font-family: 'Fjalla One', sans-serif;
}

header img {
    width: 75px;
}

.header-title {
    font-size: 10px;
    width: 160px;
    padding: 5px;
}

header img, footer img {
    border-radius: 50%;
}

.social-links {
    grid-column: 3/4;
    grid-row: 1/2;
}

.social-links a {
    text-decoration: none;
}

.social-links img {
    width: 40px;
}

/* Nav, Button, and Links */

nav {
    background-color: #97D17E;
    grid-column: 1/5;
    width: 100%;;
    align-self: center;
}

nav:active {
    border: 1px solid black;
}

nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    border: 1px solid black;
    background-color: #97D17E;
    align-self: center;
}

nav ul li {
    list-style: none;
    text-align: center;
    padding-top: 6px;
    flex: 1 1 auto;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid black;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    height: 45px;
    display: block;
    text-align: center;
}

nav ul li:hover {
    background-color: rgba(0,0,0,0.3);
    flex: 1 1 auto;
}

button {
    padding: 0;
    width: 100%;
    height: 40%;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul {display:none;}
nav ul.open {display:block;}

#hamburger-button span:nth-child(1) {display: block;}
#hamburger-button span:nth-child(2) {display: none;}

#hamburger-button.open span:nth-child(1) {display: none;}
#hamburger-button.open span:nth-child(2) {display: block;}

/* Date */

.current-date-box {
    grid-row: 2/3;
    grid-column: 1/5;
    border: 1px solid black;
    width: 90%;
    text-align: center;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

/* Styling Banner */

#banner {
    display: none;
    background-color: lightgray;
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 10px;
    text-align: center;
}

/*Styling Main*/

main {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-rows: 300px 1fr 1fr 1fr;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 150px;
}

main p {
    padding: 10px;
    text-align: center;
}

main h3, h4 {
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: underline;
}

main div {
    background-color: lightgray;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 10px;
    box-shadow: 5px 5px 7px rgba(0 0 0 / 0.3);
}

.hero-box {
    background-color: transparent;
    border: none;
    display: inline-block;
    box-shadow: none;
    max-width: 100%;
}

.hero-box img {
    max-width: 100%;
}

.hero-box h1 {
    position: relative;
    top: -250px;
    width: 100%;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    color: white;
    padding-top: 5px;
}

.hero-box button {
    display: block;
    background-color: #97D17E;
    border-radius: 25px;
    width: 80%;
    border: 1px solid rgba(0,0,0,0.3);
    position: relative;
    height: 50px;
    top: -90px;
    left: 180px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 24px;
    cursor: pointer;
}

.hero-box button:hover {
    background-color: #72BDFF;
}

.join-box {
    display: none;
}

.event-box {
    grid-row: 2;
}

.weather-box {
    grid-row: 3;
    background-color: #72BDFF;
    
}

.weather-display {
    font-size: 32pt;
}

.spotlight-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    min-height: 500px;
}

.spotlight-box div {
    margin-left: 10px;
    margin-right: 10px;
    height: 60%;
}

.spotlight-1 {
    margin-top: 10px;
}

.spotlight-3 {
    display: none;
}

.spotlight-icon {
    font-size: 32pt;
}

/* Footer Styling */

footer {
    display: flex;
}

.medium-copyright {display: none}

footer img {
    width: 150px;
}

.location-info {
    text-align: center;
}

.contact-info {
    border-bottom: 1px solid black;
    text-align: center;
}

.contact-info p {
    padding: 10px;
}

.small-copyright {
    text-align: center;
}